@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222; /* darker text on light bg */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffdfd00;
    --foreground: #f9f9f9;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}
body {
  scrollbar-width: thin; /* for Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
